@use '../theme/variables' as *;

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $font-family;
  line-height: map-get($line-heights, 'normal');
  color: map-get($neutrals, 'gray-9');
  background-color: map-get($neutrals, 'white');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

a {
  color: map-get(map-get($colors, 'primary'), 'base');
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: map-get(map-get($colors, 'primary'), 'light');
    text-decoration: none;
  }
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[hidden] {
  display: none !important;
} 